<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab.hosaily.core.app.dao.mapper.NewsMapper">
    <resultMap id="news" type="com.lab.hosaily.core.app.entity.News">
        <id     column="id"              property="id"             javaType="java.lang.String"/>
        <result column="comment"            property="comment"           javaType="java.lang.String"/>
        <result column="pic_urls"        property="picUrls"       javaType="java.lang.String"/>
        <result column="profile_id"    property="profileId"   javaType="java.lang.String"/>
        <result column="create_time"     property="createTime"     javaType="java.util.Date"/>
        <result column="update_time"     property="updateTime"     javaType="java.util.Date"/>
        <result column="organization_id" property="organizationId" javaType="java.lang.String"/>
        <association property="uploader"  resultMap="uploader" columnPrefix="u_"/>
    </resultMap>

    <resultMap id="uploader" type="com.lab.hosaily.core.app.entity.Profile">
        <id     column="id"           property="id"           javaType="java.lang.String"/>
        <result column="name"         property="name"         javaType="java.lang.String"/>
        <result column="head_img_url" property="headImgUrl"   javaType="java.lang.String"/>
    </resultMap>

    <sql id="WHERE_COLUMN">
        <where>
            <if test="params.andCriterions != null and params.andCriterions.size > 0">
                <foreach collection="params.andCriterions" item="criterion">
                    <trim prefix="AND (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} $criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>

            <if test="params.orCriterions != null and params.orCriterions.size > 0">
                <foreach collection="params.orCriterions" item="criterion">
                    <trim prefix="OR (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} $criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </where>
    </sql>

    <insert id="save">
        INSERT
          INTO news (
              id,
              comment,
              pic_urls,
              profile_id,
              uploader_id,
              organization_id,
              create_time
          ) VALUE (
              #{id,             jdbcType=VARCHAR},
              #{comment,           jdbcType=VARCHAR},
              #{picUrls,       jdbcType=VARCHAR},
              #{profileId,     jdbcType=VARCHAR},
              #{uploader.id,     jdbcType=VARCHAR},
              #{organizationId, jdbcType=VARCHAR},
              #{createTime,     jdbcType=TIMESTAMP}
          )
    </insert>

    <update id="update">
        UPDATE news
         <set>
             <if test="comment != null and comment != ''">
                 comment = #{comment, jdbcType=VARCHAR},
             </if>
             <if test="picUrls != null and picUrls != ''">
                 pic_urls = #{picUrls, jdbcType=VARCHAR},
             </if>

             <if test="profileId != null and profileId != ''">
                 profile_id = #{profileId, jdbcType=VARCHAR},
             </if>

             <if test="uploader != null and uploader.id != ''">
                 uploader_id = #{uploader.id, jdbcType=VARCHAR},
             </if>

             <if test="updateTime != null">
                 update_time = #{updateTime, jdbcType=TIMESTAMP},
             </if>

             <if test="organizationId != null and organizationId != ''">
                 organization_id = #{organizationId, jdbcType=VARCHAR},
             </if>
         </set>
          WHERE id = #{id}
    </update>

    <select id="getByParams" resultMap="news">
        SELECT n.*,
        u.id AS  u_id,
        u.name AS u_name,
        u.head_img_url AS u_head_img_url
          FROM news n
     LEFT JOIN organization o
            ON o.id = n.organization_id
        LEFT JOIN profile u
        ON u.id = n.uploader_id
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>

    <select id="findByParams" resultMap="news">
        SELECT n.*,
        u.id AS  u_id,
        u.name AS u_name,
        u.head_img_url AS u_head_img_url
        FROM news n
        LEFT JOIN organization o
        ON o.id = n.organization_id
        LEFT JOIN profile u
        ON u.id = n.uploader_id
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>

    <select id="countByParams" resultType="java.lang.Long">
        SELECT COUNT(*)
          FROM news n
     LEFT JOIN organization o
            ON n.organization_id = o.id
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>
</mapper>