<ol class="breadcrumb">
  <li>
    <span>课程管理</span>
  </li><!-- item -->
  <li>
    <a ui-sref="tag">标签管理</a>
  </li><!-- item -->
  <li>
    <span>
      #if($id)
        修改标签
      #else
        添加标签
      #end
    </span>
  </li><!-- item -->
</ol><!-- 面包屑 -->

<div class="table-info">
  <div class="container-fluid">
    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">名称</span>
        <input type="text" class="form-control" placeholder="名称" ng-model="tag.name">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">描述</span>
        <input type="text" class="form-control" placeholder="描述" ng-model="tag.description">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">状态</span>
        <select class="form-control" ng-model="tag.state" ng-options="key as value for (key, value) in states">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">企业</span>
        <select class="form-control" ng-model="tag.organizationId" ng-options="organization.id as organization.name for organization in organizations">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="button-group">
        <button type="button" class="btn" ng-click="submit()">
          <i class="fa fa-check"></i>
          提交
        </button>
        <button type="button" class="btn" ng-click="reset()">
          <i class="fa fa-close"></i>
          重置
        </button>
      </div>
    </div><!-- item -->
  </div><!-- container -->
</div><!-- table info -->