<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab.hosaily.core.course.dao.mapper.PostMapper">
	<!-- 帖子 -->
    <resultMap id="post" type="com.lab.hosaily.core.course.entity.Course">
    	<id     column="id"              property="id"              javaType="java.lang.String"/>
        <result column="type"            property="type"            typeHandler="courseTypeHandler"/>
        <result column="kind"            property="kind"            typeHandler="courseKindHandler"/>
        <result column="title"           property="title"           javaType="java.lang.String"/>
        <result column="introduction"    property="introduction"    javaType="java.lang.String"/>
        <result column="organization_id" property="organizationId"  javaType="java.lang.String"/>
        <result column="summary"         property="summary"         javaType="java.lang.String"/>
        <result column="cover"           property="cover"           javaType="java.lang.String"/>
        <result column="price"           property="price"           javaType="java.lang.Double"/>
        <result column="likes"           property="likes"           javaType="java.lang.Integer"/>
        <result column="view"            property="view"            javaType="java.lang.Integer"/>
        <result column="sort"            property="sort"            javaType="java.lang.Integer"/>
        <result column="comments"        property="comments"        javaType="java.lang.Integer"/>
        <result column="state"           property="state"           typeHandler="usingStateHandler"/>
        <result column="create_time"     property="createTime"      javaType="java.util.Date"/>
        <result column="update_time"     property="updateTime"      javaType="java.util.Date"/>
        <association property="advisor"  resultMap="advisor"   columnPrefix="a_"/>
     	<collection  property="children" resultMap="children"  columnPrefix="ch_"/>
        <collection  property="media"    resultMap="media"     columnPrefix="m_"/>
        <collection  property="tag"      resultMap="tag"       columnPrefix="t_"/>
    </resultMap>

    <resultMap id="advisor" type="com.lab.hosaily.core.course.entity.Advisor">
        <id     column="id"           property="id"           javaType="java.lang.String"/>
        <result column="name"         property="name"         javaType="java.lang.String"/>
        <result column="nickname"     property="nickname"     javaType="java.lang.String"/>
        <result column="head_img_url" property="headImgUrl"   javaType="java.lang.String"/>
    </resultMap>

    <resultMap id="children" type="com.lab.hosaily.core.course.entity.Course">
        <id     column="id"           property="id"           javaType="java.lang.String"/>
        <result column="cover"        property="cover"        javaType="java.lang.String"/>
        <result column="title"        property="title"        javaType="java.lang.String"/>
        <result column="summary"      property="summary"      javaType="java.lang.String"/>
    </resultMap>

    <resultMap id="media" type="com.lab.hosaily.core.course.entity.Media">
        <id     column="id"          property="id"         javaType="java.lang.String"/>
        <result column="url"         property="url"        javaType="java.lang.String"/>
        <result column="remark"      property="remark"     javaType="java.lang.String"/>
        <result column="type"        property="type"       typeHandler="mediaTypeHandler"/>
    </resultMap>

    <resultMap id="tag" type="com.lab.hosaily.core.course.entity.Tag">
        <id     column="id"              property="id"              javaType="java.lang.String"/>
        <result column="name"            property="name"            javaType="java.lang.String"/>
    </resultMap>

    <sql id="WHERE_COLUMN">
        <where>
            <if test="params.andCreiterions != null and params.andCreiterions.size > 0">
                <foreach collection="params.andCreiterions" item="criterion" separator="AND">
                    <trim prefix="(" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.criterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="criterion.operator">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
                                                    #{listItem}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>

            <if test="params.orCreiterions != null and params.orCreiterions.size > 0">
                <foreach collection="params.orCreiterions" item="criterion" separator="OR">
                    <trim prefix="(" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.criterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="criterion.operator">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
                                                    #{listItem}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </where>
    </sql>

    <insert id="save">
    	INSERT
    	  INTO course (
               id,
               type,
               kind,
               title,
               organization_id,
               introduction,
               summary,
               cover,
               price,
               likes,
               view,
               sort,
               comments,
               state,
               advisor_id,
               create_time
	  	) VALUE (
               #{id,              jdbcType=VARCHAR},
               #{type,            typeHandler=courseTypeHandler},
               #{kind,            typeHandler=courseKindHandler},
               #{title,           jdbcType=VARCHAR},
               #{organizationId,  jdbcType=VARCHAR},
               #{introduction,    jdbcType=VARCHAR},
               #{summary,         jdbcType=VARCHAR},
               #{cover,           jdbcType=VARCHAR},
               #{price,           jdbcType=DOUBLE},
               #{likes,           jdbcType=INTEGER},
               #{view,            jdbcType=INTEGER},
               #{sort,            jdbcType=INTEGER},
               #{comments,        jdbcType=INTEGER},
               #{state,           typeHandler=usingStateHandler},
               #{advisor.id,      jdbcType=VARCHAR},
               #{createTime,      jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update">
        UPDATE course
         <set>
             <if test="organizationId != null and organizationId != ''">
                 organization_id = #{organizationId, jdbcType=VARCHAR},
             </if>
             <if test="title != null">
                 title = #{title, jdbcType=VARCHAR},
             </if>
             <if test="introduction != null">
                 introduction = #{introduction, jdbcType=VARCHAR},
             </if>
             <if test="summary != null">
                 summary = #{summary, jdbcType=VARCHAR},
             </if>
             <if test="cover != null and cover != ''">
                 cover = #{cover, jdbcType=VARCHAR},
             </if>
             <if test="price != null and price >= 0">
                 price = #{price, jdbcType=BOOLEAN},
             </if>
             <if test="advisor != null and advisor.id != null">
                 advisor_id = #{advisor.id, jdbcType=VARCHAR},
             </if>
             <if test="likes != null and likes >= 0">
                 likes = #{likes, jdbcType=INTEGER},
             </if>
             <if test="view != null and view >= 0">
                 view = #{view, jdbcType=INTEGER},
             </if>
             <if test="sort != null and sort >= 0">
                 sort = #{sort, jdbcType=INTEGER},
             </if>
             <if test="comments != null and comments >= 0">
                 comments = #{comments, jdbcType=INTEGER},
             </if>
             <if test="state != null">
                 state = #{state, typeHandler=usingStateHandler},
             </if>
             <if test="updateTime != null">
                 update_time = #{updateTime, jdbcType=VARCHAR},
             </if>
         </set>
          WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE
          FROM course
         WHERE id = #{id}
    </delete>

    <insert id="addCourse">
        INSERT
          INTO course_course (
               parent_id,
               children_id
        ) VALUES
          <foreach collection="children" item="child" separator=",">
            (
              #{parentId, jdbcType=VARCHAR},
              #{child.id, jdbcType=VARCHAR}
            )
          </foreach>
    </insert>

    <delete id="deleteCourse">
        DELETE
          FROM course_course
         WHERE parent_id = #{parentId}
    </delete>

    <insert id="addMedia">
        INSERT
          INTO course_media (
               course_id,
               media_id
        ) VALUES
        <foreach collection="medias" item="media" separator=",">
            (
              #{courseId, jdbcType=VARCHAR},
              #{media.id, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <delete id="deleteMedia">
        DELETE
          FROM course_media
         WHERE course_id = #{courseId}
    </delete>

    <insert id="addTag">
        INSERT
          INTO course_tag (
               course_id,
               tag_id
        ) VALUES
        <foreach collection="tags" item="tag" separator=",">
            (
              #{courseId, jdbcType=VARCHAR},
              #{tag.id,   jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <delete id="deleteTag">
        DELETE
          FROM course_tag
         WHERE course_id = #{courseId}
    </delete>

    <select id="getByParams" resultMap="post">
        SELECT c.*,
               a.id            AS a_id,
               a.nickname      AS a_nickname,
               a.head_img_url  AS a_head_img_url,
               ch.id           AS ch_id,
               ch.title        AS ch_title,
               ch.summary      AS ch_summary,
               ch.cover        AS ch_cover,
               m.id            AS m_id,
               m.url           AS m_url,
               m.type          AS m_type,
               m.suffix        AS m_suffix,
               t.id            AS t_id,
               t.name          AS t_name
          FROM course c
     LEFT JOIN advisor a
            ON c.advisor_id = a.id
     LEFT JOIN course_course cc
            ON cc.parent_id = c.id
     LEFT JOIN course ch
            ON ch.id = cc.children_id
     LEFT JOIN course_media cm
            ON cm.course_id = c.id
     LEFT JOIN media m
            ON cm.media_id = m.id
     LEFT JOIN organization o
            ON o.id = c.organization_id
     LEFT JOIN course_tag ct
            ON ct.course_id = c.id
     LEFT JOIN tag t
            ON t.id = ct.tag_id
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>

    <select id="findIdByParams" resultType="String">
        SELECT c.id
          FROM course c
     LEFT JOIN advisor a
            ON c.advisor_id = a.id
     LEFT JOIN course_course cc
            ON cc.parent_id = c.id
     LEFT JOIN course ch
            ON ch.id = cc.children_id
     LEFT JOIN course_media cm
            ON cm.course_id = c.id
     LEFT JOIN media m
            ON cm.media_id = m.id
     LEFT JOIN organization o
            ON o.id = c.organization_id
     LEFT JOIN course_tag ct
            ON ct.course_id = c.id
     LEFT JOIN tag t
            ON t.id = ct.tag_id
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>

            <if test="params.groups != null and params.groups.size > 0">
                GROUP BY
                <foreach collection="params.groups" item="group" separator=",">
                    ${group.property}
                </foreach>
            </if>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>

    <select id="findByParams" resultMap="post">
        SELECT c.*,
               a.id            AS a_id,
               a.nickname      AS a_nickname,
               a.head_img_url  AS a_head_img_url,
               ch.id           AS ch_id,
               ch.title        AS ch_title,
               ch.summary      AS ch_summary,
               ch.cover        AS ch_cover,
               m.id            AS m_id,
               m.url           AS m_url,
               m.type          AS m_type,
               m.suffix        AS m_suffix,
               t.id            AS t_id,
               t.name          AS t_name
          FROM course c
     LEFT JOIN advisor a
            ON c.advisor_id = a.id
     LEFT JOIN course_course cc
            ON cc.parent_id = c.id
     LEFT JOIN course ch
            ON ch.id = cc.children_id
     LEFT JOIN course_media cm
            ON cm.course_id = c.id
     LEFT JOIN media m
            ON cm.media_id = m.id
     LEFT JOIN organization o
            ON o.id = c.organization_id
     LEFT JOIN course_tag ct
            ON ct.course_id = c.id
     LEFT JOIN tag t
            ON t.id = ct.tag_id
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>

            <if test="params.groups != null and params.groups.size > 0">
                GROUP BY
                <foreach collection="params.groups" item="group" separator=",">
                    ${group.property}
                </foreach>
            </if>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>

    <select id="countByParams" resultType="java.lang.Long">
        SELECT COUNT(*)
          FROM (
                  SELECT c.id
                    FROM course c
               LEFT JOIN advisor a
                      ON c.advisor_id = a.id
               LEFT JOIN course_course cc
                      ON cc.parent_id = c.id
               LEFT JOIN course ch
                      ON ch.id = cc.children_id
               LEFT JOIN course_media cm
                      ON cm.course_id = c.id
               LEFT JOIN media m
                      ON cm.media_id = m.id
               LEFT JOIN organization o
                      ON o.id = c.organization_id
               LEFT JOIN course_tag ct
                      ON ct.course_id = c.id
               LEFT JOIN tag t
                      ON t.id = ct.tag_id
                <if test="params != null">
                    <include refid="WHERE_COLUMN"/>

                    <if test="params.groups != null and params.groups.size > 0">
                        GROUP BY
                        <foreach collection="params.groups" item="group" separator=",">
                            ${group.property}
                        </foreach>
                    </if>
                </if>
        ) AS course
    </select>
</mapper>