<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab.hosaily.core.course.dao.mapper.QuestionMapper">

    <resultMap id="question" type="com.lab.hosaily.core.course.entity.Question">
        <result column="id" property="id" javaType="java.lang.String"/>
        <result column="title" property="title" javaType="java.lang.String"/>
        <!--<result column="project_id"        property="projectId"        javaType="java.lang.String"/>-->
        <result column="num" property="num" javaType="java.lang.String"/>
        <result column="is_result" property="isResult" javaType="java.lang.String"/>
        <result column="pre_question_id" property="preQuestionId" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
        <result column="organization_id" property="organizationId" javaType="java.lang.String"/>
        <result column="img_url"        property="imgUrl"        javaType="java.lang.String"/>
        <association property="project" resultMap="project" columnPrefix="p_"/>
        <!--<collection property="option" resultMap="option" columnPrefix="o_"/>-->
    </resultMap>


    <resultMap id="project" type="com.lab.hosaily.core.course.entity.Project">
        <id column="id" property="id" javaType="java.lang.String"/>
        <result column="title" property="title" javaType="java.lang.String"/>

    </resultMap>
    <!--<resultMap id="option" type="com.lab.hosaily.core.course.entity.Option">-->
        <!--<id column="id" property="id" javaType="java.lang.String"/>-->
        <!--<result column="title" property="title" javaType="java.lang.String"/>-->
        <!--<result column="question_option" property="questionOption" javaType="java.lang.String"/>-->
        <!--<result column="nest_question_id" property="nestQuestion" javaType="java.lang.String"/>-->
    <!--</resultMap>-->

    <sql id="WHERE_COLUMN">
        <where>
            <if test="params.andCriterions != null and params.andCriterions.size > 0">
                <foreach collection="params.andCriterions" item="criterion">
                    <trim prefix="AND (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} $criterion.operator} #{criterion.value} AND
                                #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")"
                                                         separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")"
                                                         separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>

            <if test="params.orCriterions != null and params.orCriterions.size > 0">
                <foreach collection="params.orCriterions" item="criterion">
                    <trim prefix="OR (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} $criterion.operator} #{criterion.value} AND
                                #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")"
                                                         separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")"
                                                         separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </where>
    </sql>

    <insert id="save">
        INSERT
          INTO question (
              id,
              title,
              project_id,
              num,
              is_result,
              create_time,
              img_url,
              organization_id
          ) VALUE (
              #{id,        jdbcType=VARCHAR},
              #{title,        jdbcType=VARCHAR},
              #{project.id,        jdbcType=VARCHAR},
              #{num,        jdbcType=VARCHAR},
              #{isResult,        jdbcType=VARCHAR},
              #{createTime,  jdbcType=TIMESTAMP},
              #{imgUrl,        jdbcType=VARCHAR},
              #{organizationId,        jdbcType=VARCHAR}
          )
    </insert>

    <update id="update">
        UPDATE question
        <set>
            <if test="title != null and title != ''">
                title = #{title, jdbcType=VARCHAR},
            </if>
            <if test="project != null and project.id != ''">
                project_id = #{project.id, jdbcType=VARCHAR},
            </if>
            <if test="num != null and num != ''">
                num = #{num, jdbcType=VARCHAR},
            </if>
            <if test="isResult != null and isResult != ''">
                is_result = #{isResult, jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                img_url = #{imgUrl, jdbcType=VARCHAR},
            </if>
            <if test="organizationId != null and organizationId != ''">
                organization_id = #{organizationId, jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE
          FROM question
         WHERE id = #{id}
    </delete>
    <select id="getByParams" resultMap="question">
        SELECT q.*,
        p.id AS p_id,
        p.title AS p_title
--         ,
--         (SELECT question_id FROM question_option WHERE nest_question_id =q.id) AS pre_question_id
--         ,
--         o.id AS o_id,
--         o.title AS o_title,
--         o.nest_question_id AS o_nest_question_id,
--         o.question_option AS o_question_option
        FROM question q
        LEFT JOIN project p
        ON q.project_id = p.id
--         LEFT JOIN question_option o
--         ON q.id = o.question_id
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>

    <select id="findByParams" resultMap="question">
        SELECT q.*,
        p.id AS p_id,
        p.title AS p_title
--         ,
--         (SELECT question_id FROM question_option WHERE nest_question_id =q.id) AS pre_question_id
--         ,
--         o.id AS o_id,
--         o.title AS o_title,
--         o.nest_question_id AS o_nest_question_id,
--         o.question_option AS o_question_option
        FROM question q
        LEFT JOIN project p
        ON q.project_id = p.id
--         LEFT JOIN question_option o
--         ON q.id = o.question_id
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>

    <select id="countByParams" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM question q
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>
</mapper>