<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <properties>
    <property name="dialect" value="mysql"/>
  </properties>

  <settings>
    <setting name="cacheEnabled"              value="true"/>
    <setting name="lazyLoadingEnabled"        value="true"/>
    <setting name="aggressiveLazyLoading"     value="false"/>
    <setting name="multipleResultSetsEnabled" value="true"/>
    <setting name="useColumnLabel"            value="true"/>
    <setting name="useGeneratedKeys"          value="true"/>
    <setting name="defaultStatementTimeout"   value="25000"/>
  </settings>

  <typeAliases>
    <typeAlias type="com.rab.babylon.core.consts.handler.SexHandler"                        alias="sexHandler"/>
    <typeAlias type="com.rab.babylon.core.consts.handler.UsingStateHandler"                 alias="usingStateHandler"/>
    <typeAlias type="com.lab.hosaily.core.application.utils.handler.ApplicationTypeHandler" alias="applicationTypeHandler"/>
    <typeAlias type="com.lab.hosaily.core.course.utils.handler.MediaTypeHandler"            alias="mediaTypeHandler"/>
    <typeAlias type="com.lab.hosaily.core.course.utils.handler.CourseTypeHandler"           alias="courseTypeHandler"/>
    <typeAlias type="com.lab.hosaily.core.course.utils.handler.CourseKindHandler"           alias="courseKindHandler"/>
    <typeAlias type="com.lab.hosaily.core.account.utils.handler.WeChatSexHandler"           alias="weChatSexHandler"/>
    <typeAlias type="com.lab.hosaily.core.account.utils.handler.GenderHandler"              alias="genderHandler"/>
    <typeAlias type="com.lab.hosaily.core.account.utils.handler.AttentionTypeHandler"       alias="attentionTypeHandler"/>
  </typeAliases>
</configuration>