<ol class="breadcrumb">
  <li>
    <span>课程管理</span>
  </li><!-- item -->
  <li>
    <a ui-sref="course">课程管理</a>
  </li><!-- item -->
  <li>
    <span>
      #if($id)
        修改课程
      #else
        添加课程
      #end
    </span>
  </li><!-- item -->
</ol><!-- 面包屑 -->

<div class="table-info">
  <div class="container-fluid">
    <div class="row-group">
      <div class="img-group">
        <div class="row">
          <div class="col-md-6">
            <img src="{{course.cover}}" ng-model="course.cover">
          </div><!-- item -->

          <div class="col-md-6">
            <input type="file" nv-file-select uploader="uploader">
            <div class="button-group">
              <button type="button" class="btn" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <i class="fa fa-upload"></i>
                上传
              </button>
              <button type="button" class="btn" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <i class="fa fa-trash-o"></i>
                移除
              </button>
            </div><!-- button group -->
          </div><!-- item -->
        </div>
      </div><!-- img group -->
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">点赞量</span>
        <input type="number" class="form-control" placeholder="点赞量" ng-model="course.likes">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">浏览量</span>
        <input type="number" class="form-control" placeholder="浏览量" ng-model="course.view">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">排序</span>
        <input type="number" class="form-control" placeholder="排序" ng-model="course.sort">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">价格</span>
        <input type="number" class="form-control" placeholder="价格" ng-model="course.price">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">企业</span>
        <select class="form-control" ng-model="course.organizationId" ng-options="organization.id as organization.name for organization in organizations">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">导师</span>
        <select class="form-control" ng-model="course.advisor" ng-options="advisor as advisor.name for advisor in advisors">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <!--<div class="row-group">-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">等级</span>-->
        <!--<select class="form-control" ng-model="course.level" ng-options="level as level.name for level in levels">-->
          <!--<option value="">请选择</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
      <!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">标签</span>
        <select class="form-control" ng-model="course.tag" ng-options="tag as tag.name for tag in tags">
          <option value="">请选择</option>
        </select>
      </div>
    </div>

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">是否需要授权</span>
        <select class="form-control" ng-model="course.authorization" ng-options="key as value for (key, value) in authorizations">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">状态</span>
        <select class="form-control" ng-model="course.state" ng-options="key as value for (key, value) in states">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">标题</span>
        <input type="text" class="form-control" placeholder="标题" ng-model="course.title">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">概要</span>
        <input type="text" class="form-control" placeholder="概要" ng-model="course.summary">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="editor-group">
        <div ckeditor="editor" ng-model="course.introduction"></div>
      </div>
    </div><!-- item -->

    <div class="row-group" ng-show="course.children.length > 0">
      <div class="item-group">
        <div class="row" ng-repeat="item in course.children">
          <div class="col-md-5">
            <div class="input-group">
              <span class="input-group-addon">标题</span>
              <input type="text" class="form-control" placeholder="标题" ng-model="item.title" value="{{item.title}}" readonly="readonly">
            </div>
          </div>

          <div class="col-md-5">
            <div class="input-group">
              <span class="input-group-addon">概要</span>
              <input type="text" class="form-control" placeholder="概要" ng-model="item.summary" value="{{item.summary}}" readonly="readonly">
            </div>
          </div>

          <div class="col-md-2">
            <!--<a href="javascript:;" ng-click="">[删除]</a>-->
            <a href="javascript:;" ng-click="chapterEdit(item.id)">[修改]</a>
          </div>
        </div><!-- row -->
      </div><!-- item group -->
    </div><!-- item -->

    <div class="row-group">
      <div class="button-group">
        #if($id)
        <button type="button" class="btn" ng-click="chapterAdd()">
          <i class="fa fa-plus"></i>
          添加章节
        </button>
        #end
        <button type="button" class="btn" ng-click="submit()">
          <i class="fa fa-check"></i>
          提交
        </button>
        <button type="button" class="btn" ng-click="reset()">
          <i class="fa fa-close"></i>
          重置
        </button>
      </div>
    </div><!-- item -->
  </div><!-- container -->
</div><!-- table info -->