<ol class="breadcrumb">
  <li>
    <span>课程管理</span>
  </li><!-- item -->
  <li>
    <a ui-sref="courseGroup">课程分组管理</a>
  </li><!-- item -->
  <li>
    <span>
      #if($id)
        修改分组
      #else
        添加分组
      #end
    </span>
  </li><!-- item -->
</ol><!-- 面包屑 -->

<div class="table-info">
  <div class="container-fluid">
    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">名称</span>
        <input type="text" class="form-control" placeholder="名称" ng-model="group.name">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">状态</span>
        <select class="form-control" ng-model="group.state" ng-options="key as value for (key, value) in states">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">企业</span>
        <select class="form-control" ng-model="group.organizationId" ng-options="organization.id as organization.name for organization in organizations">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">课程</span>
        <ui-select class="form-control" multiple ng-model="group.course" theme="bootstrap">
          <ui-select-match placeholder="请选择">{{$item.title}}</ui-select-match>
          <ui-select-choices repeat="course in courses">
            <small>{{course.title}}</small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="button-group">
        <button type="button" class="btn" ng-click="submit()">
          <i class="fa fa-check"></i>
          提交
        </button>
        <button type="button" class="btn" ng-click="reset()">
          <i class="fa fa-close"></i>
          重置
        </button>
      </div>
    </div><!-- item -->
  </div><!-- container -->
</div><!-- table info -->

