<ol class="breadcrumb">
  <li>
    <span>课程管理</span>
  </li><!-- item -->
  <li>
    <a ui-sref="advisor">导师管理</a>
  </li><!-- item -->
  <li>
    <span>
      #if($id)
        修改导师
      #else
        添加导师
      #end
    </span>
  </li><!-- item -->
</ol><!-- 面包屑 -->

<div class="table-info">
  <div class="container-fluid">
    <div class="row-group">
      <div class="img-group">
        <div class="row">
          <div class="col-md-6">
            <img src="{{advisor.headImgUrl}}" ng-model="advisor.headImgUrl">
          </div><!-- item -->

          <div class="col-md-6">
            <input type="file" nv-file-select uploader="uploader">
            <div class="button-group">
              <button type="button" class="btn" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <i class="fa fa-upload"></i>
                上传
              </button>
              <button type="button" class="btn" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <i class="fa fa-trash-o"></i>
                移除
              </button>
            </div><!-- button group -->
          </div><!-- item -->
        </div>
      </div><!-- img group -->
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">名称</span>
        <input type="text" class="form-control" placeholder="名称" ng-model="advisor.name">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">昵称</span>
        <input type="text" class="form-control" placeholder="昵称" ng-model="advisor.nickname">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">年龄</span>
        <input type="number" class="form-control" placeholder="年龄" ng-model="advisor.age">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">排序</span>
        <input type="number" class="form-control" placeholder="排序" ng-model="advisor.sort">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">性别</span>
        <select class="form-control" ng-model="advisor.sex" ng-options="key as value for (key, value) in sexs">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">状态</span>
        <select class="form-control" ng-model="advisor.state" ng-options="key as value for (key, value) in states">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">企业</span>
        <select class="form-control" ng-model="advisor.organizationId" ng-options="organization.id as organization.name for organization in organizations">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">荣誉</span>
        <!--<input type="text" class="form-control" placeholder="荣誉" ng-model="advisor.honor">-->
        <textarea class="form-control" style="height:120px;resize:none;" placeholder="荣誉" ng-model="advisor.honor"></textarea>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">简介</span>
        <!--<input type="text" class="form-control" placeholder="简介" ng-model="advisor.summary">-->
        <textarea class="form-control" style="height:120px;resize:none;" placeholder="简介" ng-model="advisor.summary"></textarea>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="editor-group">
        <div ckeditor="editor" ng-model="advisor.introduction"></div>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="button-group">
        <button type="button" class="btn" ng-click="submit()">
          <i class="fa fa-check"></i>
          提交
        </button>
        <button type="button" class="btn" ng-click="reset()">
          <i class="fa fa-close"></i>
          重置
        </button>
      </div>
    </div><!-- item -->
  </div><!-- container -->
</div><!-- table info -->

