<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab.hosaily.core.account.dao.mapper.WeChatAccountMapper">
    <resultMap id="account" type="com.lab.hosaily.core.account.entity.WeChatAccount">
        <id column="id"                 property="id"            javaType="java.lang.String"/>
        <result column="app_id"         property="appId"         javaType="java.lang.String"/>
        <result column="open_id"        property="openId"        javaType="java.lang.String"/>
        <result column="union_id"       property="unionId"       javaType="java.lang.String"/>
        <result column="subscribe"      property="subscribe"     javaType="java.lang.Boolean"/>
        <result column="nickname"       property="nickname"      javaType="java.lang.String"/>
        <result column="sex"            property="sex"           typeHandler="weChatSexHandler"/>
        <result column="language"       property="language"      javaType="java.lang.String"/>
        <result column="city"           property="city"          javaType="java.lang.String"/>
        <result column="province"       property="province"      javaType="java.lang.String"/>
        <result column="country"        property="country"       javaType="java.lang.String"/>
        <result column="head_img_url"   property="headImgUrl"    javaType="java.lang.String"/>
        <result column="subscribe_time" property="subscribeTime" javaType="java.util.Date"/>
        <result column="remark"         property="remark"        javaType="java.lang.String"/>
        <result column="state"          property="state"         typeHandler="usingStateHandler"/>
        <result column="create_time"    property="createTime"    javaType="java.util.Date"/>
        <result column="update_time"    property="updateTime"    javaType="java.util.Date"/>
        <result column="latitude"       property="latitude"      javaType="java.lang.Double"/>
        <result column="longitude"      property="longitude"     javaType="java.lang.Double"/>
        <result column="precision"      property="precision"     javaType="java.lang.Double"/>
    </resultMap>

    <sql id="WHERE_COLUMN">
        <where>
            <if test="params.andCriterions != null and params.andCriterions.size > 0">
                <foreach collection="params.andCriterions" item="criterion">
                    <trim prefix="AND (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} $criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>

            <if test="params.orCriterions != null and params.orCriterions.size > 0">
                <foreach collection="params.orCriterions" item="criterion">
                    <trim prefix="OR (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} $criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </where>
    </sql>

    <insert id="save">
        INSERT
          INTO wechat_account (
               id,
               app_id,
               open_id,
               union_id,
               subscribe,
               nickname,
               sex,
               language,
               city,
               province,
               country,
               head_img_url,
               subscribe_time,
               remark,
               state,
               create_time,
               latitude,
               longitude,
               `precision`
          ) VALUE (
                #{id,            jdbcType=VARCHAR},
                #{appId,         jdbcType=VARCHAR},
                #{openId,        jdbcType=VARCHAR},
                #{unionId,       jdbcType=VARCHAR},
                #{subscribe,     jdbcType=VARCHAR},
                #{nickname,      jdbcType=VARCHAR},
                #{sex,           typeHandler=weChatSexHandler},
                #{language,      jdbcType=VARCHAR},
                #{city,          jdbcType=VARCHAR},
                #{province,      jdbcType=VARCHAR},
                #{country,       jdbcType=VARCHAR},
                #{headImgUrl,    jdbcType=VARCHAR},
                #{subscribeTime, jdbcType=TIMESTAMP},
                #{remark,        jdbcType=VARCHAR},
                #{state,         typeHandler=usingStateHandler},
                #{createTime,    jdbcType=TIMESTAMP},
                #{latitude,      jdbcType=DOUBLE},
                #{longitude,     jdbcType=DOUBLE},
                #{precision,     jdbcType=DOUBLE}
          )
    </insert>

    <update id="update">
        UPDATE wechat_account
         <set>
             <if test="openId != null and openId != ''">
                 open_id = #{openId, jdbcType=VARCHAR},
             </if>
             <if test="appId != null and appId != ''">
                 app_id = #{appId, jdbcType=VARCHAR},
             </if>
             <if test="unionId != null and unionId !=''">
                 union_id = #{unionId, jdbcType=VARCHAR},
             </if>
             <if test="subscribe != null">
                 subscribe = #{subscribe, jdbcType=BOOLEAN},
             </if>
             <if test="nickname != null and nickname != ''">
                 nickname = #{nickname, jdbcType=VARCHAR},
             </if>
             <if test="sex != null">
                 sex = #{sex, typeHandler=weChatSexHandler},
             </if>
             <if test="language != null and language != ''">
                 language = #{language, jdbcType=VARCHAR},
             </if>
             <if test="city != null and city != ''">
                 city = #{city, jdbcType=VARCHAR},
             </if>
             <if test="province != null and province != ''">
                 province = #{province, jdbcType=VARCHAR},
             </if>
             <if test="country != null and country != ''">
                 country = #{country, jdbcType=VARCHAR},
             </if>
             <if test="headImgUrl != null and headImgUrl != ''">
                 head_img_url = #{headImgUrl, jdbcType=VARCHAR},
             </if>
             <if test="subscribeTime != null">
                 subscribe_time = #{subscribeTime, jdbcType=TIMESTAMP},
             </if>
             <if test="remark != null and remark != ''">
                 remark = #{remark, jdbcType=VARCHAR},
             </if>
             <if test="state != null">
                 state = #{state, typeHandler=usingStateHandler},
             </if>
             <if test="updateTime != null">
                 update_time = #{updateTime, jdbcType=TIMESTAMP},
             </if>
             <if test="latitude != null">
                 latitude = #{latitude, jdbcType=DOUBLE},
             </if>
             <if test="longitude != null">
                 longitude = #{longitude, jdbcType=DOUBLE},
             </if>
             <if test="precision != null">
                 `precision` = #{precision, jdbcType=DOUBLE},
             </if>
         </set>
          WHERE id = #{id}
    </update>

    <select id="getByParams" resultMap="account">
        SELECT w.*
          FROM wechat_account w
     LEFT JOIN account a
            ON (a.wechat = w.union_id OR a.wechat = w.open_id)
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>

    <select id="findByParams" resultMap="account">
        SELECT w.*
          FROM wechat_account w
     LEFT JOIN account a
            ON (a.wechat = w.union_id OR a.wechat = w.open_id)
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>

    <select id="countByParams" resultType="java.lang.Long">
        SELECT COUNT(*)
          FROM wechat_account w
     LEFT JOIN account a
            ON (a.wechat = w.union_id OR a.wechat = w.open_id)
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>
</mapper>