<ol class="breadcrumb">
    <li>
        <span>下单管理</span>
    </li><!-- item -->
    <li>
        <a ui-sref="client">客户管理</a>
    </li><!-- item -->
    <li>
        <span>订单管理</span>
    </li>
</ol><!-- 面包屑 -->

<div class="search-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">状态</span>
                    <select class="form-control" ng-model="state" ng-options="key as value for (key, value) in states">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div><!-- item -->

            <div class="col-xs-12 col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">流程状态</span>
                    <select class="form-control" ng-model="purchaseState" ng-options="key as value for (key, value) in purchaseStates">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div><!-- item -->
        </div>
    </div><!-- container -->

    <div class="container-fluid">
        <button type="button" class="btn" ng-click="search()">
            <i class="fa fa-search"></i>
            搜索
        </button><!-- item -->

        <button type="button" class="btn" ng-click="reset()">
            <i class="fa fa-retweet"></i>
            重置
        </button><!-- item -->

        <button type="button" class="btn" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
            刷新
        </button><!-- item -->

        <button type="button" class="btn" ng-click="purchaseAdd()">
            <i class="fa fa-plus"></i>
            下单
        </button><!-- item -->
    </div><!-- container -->
</div><!-- search bar -->

<div class="table-bar">
    <div clas="container">
        <div class="gridStyle" ng-grid="gridOptions"></div><!-- table -->
    </div><!-- container -->
</div><!-- table bar -->

<script type="text/ng-template" id="modal">
    <div class="modal-header">
        <h3>支付链接二维码</h3>
    </div><!-- model header -->

    <div class="modal-body">
        <qrcode data="{{qrcodeString}}" size="150" download></qrcode>
    </div><!-- modal body -->

    <div class="modal-footer">
        <button class="btn" ng-click="cancel()">关闭</button>
    </div><!-- modal footer -->
</script>