<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab.hosaily.core.client.dao.mapper.AlipayMapper">
    <resultMap id="alipay" type="com.lab.hosaily.core.client.entity.Alipay">
        <id     column="id"             property="id"           javaType="java.lang.String"/>
        <result column="app_id"         property="appId"        javaType="java.lang.String"/>
        <result column="return_url"     property="returnUrl"    javaType="java.lang.String"/>
        <result column="sign_type"      property="signType"     javaType="java.lang.String"/>
        <result column="notify_url"     property="notifyUrl"    javaType="java.lang.String"/>
        <result column="subject"        property="subject"      javaType="java.lang.String"/>
        <result column="out_trade_no"   property="outTradeNo"   javaType="java.lang.String"/>
        <result column="total_amount"   property="totalAmount"  javaType="java.lang.Double"/>
        <result column="product_code"   property="productCode"  javaType="java.lang.String"/>
        <result column="trade_no"       property="tradeNo"      javaType="java.lang.String"/>
        <result column="status"         property="status"       typeHandler="alipayStatusHandler"/>
        <result column="create_time"    property="createTime"   javaType="java.util.Date"/>
        <result column="update_time"    property="updateTime"   javaType="java.util.Date"/>
    </resultMap>

    <sql id="WHERE_COLUMN">
        <where>
            <if test="params.andCriterions != null and params.andCriterions.size > 0">
                <foreach collection="params.andCriterions" item="criterion">
                    <trim prefix="AND (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} $criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>

            <if test="params.orCriterions != null and params.orCriterions.size > 0">
                <foreach collection="params.orCriterions" item="criterion">
                    <trim prefix="OR (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} $criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </where>
    </sql>

    <insert id="save">
        INSERT
          INTO alipay (
               id,
               app_id,
               return_url,
               sign_type,
               notify_url,
               subject,
               out_trade_no,
               total_amount,
               product_code,
               trade_no,
               status,
               create_time
        ) VALUE (
               #{id,          jdbcType=VARCHAR},
               #{appId,       jdbcType=VARCHAR},
               #{returnUrl,   jdbcType=VARCHAR},
               #{signType,    jdbcType=VARCHAR},
               #{notifyUrl,   jdbcType=VARCHAR},
               #{subject,     jdbcType=VARCHAR},
               #{outTradeNo,  jdbcType=VARCHAR},
               #{totalAmount, jdbcType=DOUBLE},
               #{productCode, jdbcType=VARCHAR},
               #{tradeNo,     jdbcType=VARCHAR},
               #{status,      typeHandler=alipayStatusHandler},
               #{createTime,  jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update">
        UPDATE alipay
         <set>
             <if test="returnUrl != null">
                 return_url = #{returnUrl, jdbcType=VARCHAR},
             </if>
             <if test="signType != null">
                 sign_type = #{signType, jdbcType=VARCHAR},
             </if>
             <if test="notifyUrl != null">
                 notify_url = #{notifyUrl, jdbcType=VARCHAR},
             </if>
             <if test="subject != null">
                 subject = #{subject, jdbcType=VARCHAR},
             </if>
             <if test="outTradeNo != null">
                 out_trade_no = #{outTradeNo, jdbcType=VARCHAR},
             </if>
             <if test="totalAmount != null and totalAmount >= 0">
                 total_amount = #{totalAmount, jdbcType=DOUBLE},
             </if>
             <if test="productCode != null">
                 product_code = #{productCode, jdbcType=VARCHAR},
             </if>
             <if test="tradeNo != null">
                 trade_no = #{tradeNo, jdbcType=VARCHAR},
             </if>
             <if test="status != null">
                 status = #{status, typeHandler=alipayStatusHandler},
             </if>
             <if test="updateTime != null">
                 update_time = #{updateTime, jdbcType=TIMESTAMP},
             </if>
         </set>
          WHERE id = #{id}
    </update>

    <select id="getByParams" resultMap="alipay">
        SELECT *
          FROM alipay
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>

    <select id="findByParams" resultMap="alipay">
        SELECT *
          FROM alipay
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>

            <if test="params.groups != null and params.groups.size > 0">
                GROUP BY
                <foreach collection="params.groups" item="group" separator=",">
                    ${group.property}
                </foreach>
            </if>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>
</mapper>