<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab.hosaily.core.client.dao.mapper.WechatMerchantPayMapper">
    <resultMap id="wechatMerchantPay" type="com.lab.hosaily.core.client.entity.WechatMerchantPay">
        <id     column="id"                 property="id"               javaType="java.lang.String"/>
        <result column="app_id"             property="appId"            javaType="java.lang.String"/>
        <result column="mch_id"             property="mchId"            javaType="java.lang.Double"/>
        <result column="open_id"            property="openId"           javaType="java.lang.String"/>
        <result column="nonce_str"          property="nonceStr"         javaType="java.lang.String"/>
        <result column="sign_type"          property="signType"         javaType="java.lang.String"/>
        <result column="body"               property="body"             javaType="java.lang.String"/>
        <result column="out_trade_no"       property="outTradeNo"       javaType="java.lang.String"/>
        <result column="total_fee"          property="totalFee"         javaType="java.lang.Integer"/>
        <result column="notify_rul"         property="notifyUrl"        javaType="java.lang.String"/>
        <result column="trade_type"         property="tradeType"        javaType="java.lang.String"/>
        <result column="prepay_id"          property="prepayId"         javaType="java.lang.String"/>
        <result column="is_success"         property="isSuccess"        javaType="java.lang.Double"/>
        <result column="msg"                property="msg"              javaType="java.lang.String"/>
        <result column="create_time"        property="createTime"       javaType="java.util.Date"/>
        <result column="update_time"        property="updateTime"       javaType="java.util.Date"/>
        <result column="key"                property="key"              javaType="java.lang.String"/>
    </resultMap>

    <sql id="WHERE_COLUMN">
        <where>
            <if test="params.andCreiterions != null and params.andCreiterions.size > 0">
                <foreach collection="params.andCreiterions" item="criterion" separator="AND">
                    <trim prefix="(" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.criterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="criterion.operator">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
                                                    #{listItem}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>

            <if test="params.orCreiterions != null and params.orCreiterions.size > 0">
                <foreach collection="params.orCreiterions" item="criterion" separator="OR">
                    <trim prefix="(" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.criterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="criterion.operator">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
                                                    #{listItem}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </where>
    </sql>

    <insert id="save">
        INSERT
          INTO wechat_merchant_pay (
               id,
               app_id,
               mch_id,
               open_id,
               nonce_str,
               sign_type,
               body,
               out_trade_no,
               total_fee,
               notify_url,
               trade_type,
               prepay_id,
               is_success,
               msg,
               create_time,
               key
        ) VALUE (
               #{id,          jdbcType=VARCHAR},
               #{appId,       jdbcType=VARCHAR},
               #{mchId,       jdbcType=VARCHAR},
               #{openId,      jdbcType=VARCHAR},
               #{nonceStr,    jdbcType=VARCHAR},
               #{signType,    jdbcType=VARCHAR},
               #{body,        jdbcType=VARCHAR},
               #{outTradeNo,  jdbcType=VARCHAR},
               #{totalFee,    jdbcType=INTEGER},
               #{notifyUrl,   jdbcType=VARCHAR},
               #{tradeType,   jdbcType=VARCHAR},
               #{prepayId,    jdbcType=VARCHAR},
               #{isSuccess,   jdbcType=BOOLEAN},
               #{msg,         jdbcType=VARCHAR},
               #{createTime,  jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update">
        UPDATE wechat_merchant_pay
         <set>
             <if test="prepayId != null">
                 prepay_id = #{prepayId, jdbcType=VARCHAR},
             </if>
             <if test="isSuccess != null">
                 is_success = #{isSuccess, jdbcTyp=BOOLEAN},
             </if>
             <if test="msg != null">
                 msg = #{msg, jdbcType=VARCHAR},
             </if>
             <if test="updateTime != null">
                 key = #{key, jdbcType=VARCHAR},
             </if>
         </set>
          WHERE id = #{id}
    </update>

    <select id="getByParams" resultMap="wechatMerchantPay">
        SELECT *
          FROM wechat_merchant_pay
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>

    <select id="findByParams" resultMap="wechatMerchantPay">
        SELECT *
          FROM wechat_merchant_pay
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>

            <if test="params.groups != null and params.groups.size > 0">
                GROUP BY
                <foreach collection="params.groups" item="group" separator=",">
                    ${group.property}
                </foreach>
            </if>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>
</mapper>