<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab.hosaily.core.product.dao.mapper.ServiceMapper">
    <resultMap id="service" type="com.lab.hosaily.core.product.entity.Service">
        <id     column="id"             property="id"           javaType="java.lang.String"/>
        <result column="master_id"      property="masterId"     javaType="java.lang.String"/>
        <result column="name"           property="name"         javaType="java.lang.String"/>
        <result column="description"    property="description"  javaType="java.lang.String"/>
        <result column="sort"           property="sort"         javaType="java.lang.Integer"/>
        <result column="time"           property="time"         javaType="java.lang.Integer"/>
        <result column="unit_price"     property="unitPrice"    javaType="java.lang.Double"/>
        <result column="type"           property="type"         typeHandler="serviceTypeHandler"/>
        <result column="create_time"    property="createTime"   javaType="java.util.Date"/>
        <result column="update_time"    property="updateTime"   javaType="java.util.Date"/>
    </resultMap>

    <insert id="save">
        INSERT
          INTO service (
               id,
               master_id,
               name,
               description,
               time,
               unit_price,
               create_time,
               type,
               sort
        ) VALUES
        <foreach collection="services" item="service" separator=",">
            (
                #{service.id,          jdbcType=VARCHAR},
                #{service.masterId,    jdbcType=VARCHAR},
                #{service.name,        jdbcType=VARCHAR},
                #{service.description, jdbcType=VARCHAR},
                #{service.time,        jdbcType=INTEGER},
                #{service.unitPrice,   jdbcType=DOUBLE},
                #{service.createTime,  jdbcType=TIMESTAMP},
                #{service.type,        typeHandler=serviceTypeHandler},
                #{service.sort,        jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <delete id="deleteByMasterId">
        DELETE
          FROM service
         WHERE master_id = #{masterId}
    </delete>

    <delete id="delete">
        DELETE
          FROM service
         WHERE id = #{id}
    </delete>
</mapper>