<ol class="breadcrumb">
  <li>
    <span>系统设置</span>
  </li><!-- item -->
  <li>
    <a ui-sref="profile">测试项目管理</a>
  </li><!-- item -->
  <li>
    <span>
      #if($id)
        修改app用户管理
      #else
        添加app用户管理
      #end
    </span>
  </li><!-- item -->
</ol><!-- 面包屑 -->

<div class="table-info">
  <div class="container-fluid">

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">名称</span>
        <input type="text" class="form-control" placeholder="title" ng-model="profile.name" value="{{profile.name}}">
      </div>
    </div><!-- item -->


    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">角色</span>
        <select class="form-control" ng-model="profile.role" ng-options="key as value for (key, value) in roles">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="button-group">
        <button type="button" class="btn" ng-click="submit()">
          <i class="fa fa-check"></i>
          提交
        </button>
        <button type="button" class="btn" ng-click="reset()">
          <i class="fa fa-close"></i>
          重置
        </button>
      </div>
    </div><!-- item -->
  </div><!-- container -->
</div><!-- table info -->