<ol class="breadcrumb">
  <li>
    <span>课程管理</span>
  </li><!-- item -->
  <li>
    <a ui-sref="media">媒体管理</a>
  </li><!-- item -->
  <li>
    <span>
      #if($id)
        修改媒体
      #else
        添加媒体
      #end
    </span>
  </li><!-- item -->
</ol><!-- 面包屑 -->

<div class="table-info">
  <div class="container-fluid">
    #if($id)
    <div class="row-group">
      <div class="media-group" ng-bind-html="mediaView">

      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">文件名</span>
        <input type="text" class="form-control" placeholder="文件名" ng-model="media.fileName" readonly="readonly">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">备注</span>
        <input type="text" class="form-control" placeholder="备注" ng-model="media.remark">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">外链</span>
        <input type="text" class="form-control" placeholder="外链" ng-model="media.url" readonly="readonly">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">大小(KB)</span>
        <input type="text" class="form-control" placeholder="大小" ng-model="media.size" readonly="readonly">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">格式</span>
        <input type="text" class="form-control" placeholder="格式" ng-model="media.suffix" readonly="readonly">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">类型</span>
        <select class="form-control" ng-model="media.type" disabled="disabled" ng-options="key as value for (key, value) in mediaTypes">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">状态</span>
        <select class="form-control" ng-model="media.state" ng-options="key as value for (key, value) in states">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">企业</span>
        <select class="form-control" ng-model="media.organizationId" ng-options="organization.id as organization.name for organization in organizations">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="button-group">
        <button type="button" class="btn" ng-click="submit()">
          <i class="fa fa-check"></i>
          提交
        </button>
        <button type="button" class="btn" ng-click="reset()">
          <i class="fa fa-close"></i>
          重置
        </button>
      </div>
    </div><!-- item -->
    #else
    <div class="row-group">
      <div class="upload-group">
        <input type="file" nv-file-select uploader="uploader">
   
        <div class="progress progress-sm m-b-none m-t-xs">
          <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>

        <div class="button-group">
          <button type="button" class="btn" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
            <i class="fa fa-upload"></i>
            上传
          </button>
          <button type="button" class="btn" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
            <i class="fa fa-trash-o"></i>
            移除
          </button>
        </div><!-- button group -->
      </div>
    </div><!-- item -->
    #end
  </div>
</div>
