<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab.hosaily.core.sell.dao.mapper.PayLogsMapper">
    <resultMap id="logs" type="com.lab.hosaily.core.sell.entity.PayLogs">
        <id     column="id"          property="id"         javaType="java.lang.String"/>
        <result column="pay"         property="pay"        javaType="java.lang.Double"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
        <association property="payment" resultMap="payment" columnPrefix="p_"/>
    </resultMap>

    <resultMap id="payment" type="com.lab.hosaily.core.sell.entity.PaymentType">
        <id     column="id"          property="id"         javaType="java.lang.String"/>
        <result column="name"        property="name"       javaType="java.lang.String"/>
    </resultMap>

    <insert id="save">
        INSERT
          INTO pay_logs (
               id,
               order_id,
               pay,
               payment,
               create_time
        ) VALUE (
               #{id,         jdbcType=VARCHAR},
               #{order.id,   jdbcType=VARCHAR},
               #{pay,        jdbcType=DOUBLE},
               #{payment.id, jdbcType=VARCHAR},
               #{createTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update">
        UPDATE pay_logs
         <set>
             <if test="pay != null and pay >= 0">
                 pay = #{pay, jdbcType=DOUBLE},
             </if>
             <if test="payment != null and payment.id != null and payment.id != ''">
                 payment = #{payment.id, jdbcType=VARCHAR},
             </if>
             <if test="updateTime != null">
                 update_time = #{updateTime, jdbcType=VARCHAR},
             </if>
         </set>
          WHERE id = #{id}
    </update>

    <insert id="saveBatch">
        INSERT
          INTO pay_logs (
            id,
            order_id,
            pay,
            payment,
            create_time
        ) VALUES
          <foreach collection="logs" separator="," item="log">
              (
                  #{log.id,         jdbcType=VARCHAR},
                  #{log.order.id,   jdbcType=VARCHAR},
                  #{log.pay,        jdbcType=DOUBLE},
                  #{log.payment.id, jdbcType=VARCHAR},
                  #{log.createTime, jdbcType=TIMESTAMP}
              )
          </foreach>
    </insert>
</mapper>