<ol class="breadcrumb">
  <li>
    <span>系统设置</span>
  </li><!-- item -->
  <li>
    <a ui-sref="organization">企业管理</a>
  </li><!-- item -->
  <li>
    <span>
      #if($id)
        修改企业
      #else
        添加企业
      #end
    </span>
  </li><!-- item -->
</ol><!-- 面包屑 -->

<div class="table-info">
  <div class="container-fluid">
    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">名称</span>
        <input type="text" class="form-control" placeholder="名称" ng-model="organization.name">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">TOKEN</span>
        <input type="text" class="form-control" placeholder="TOKEN" ng-model="organization.token" value="{{application.token}}">
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="input-group">
        <span class="input-group-addon">状态</span>
        <select class="form-control" ng-model="organization.state" ng-options="key as value for (key, value) in states">
          <option value="">请选择</option>
        </select>
      </div>
    </div><!-- item -->

    <div class="row-group">
      <div class="button-group">
        <button type="button" class="btn" ng-click="submit()">
          <i class="fa fa-check"></i>
          提交
        </button>
        <button type="button" class="btn" ng-click="reset()">
          <i class="fa fa-close"></i>
          重置
        </button>
      </div>
    </div><!-- item -->
  </div><!-- container -->
</div><!-- table info -->